#navbar{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    border: 2px solid red;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h3{
    font-size: 25px;
}

#container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
    gap:20px
}

a{
    text-decoration: none;
    color: black;
}

#logo img{
    margin-top: 17px;
    height: 30px;
    width: 200px;
}
#logo{
    display: flex;
}
